@import '../../../styles/variables.scss';

.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  &.fullscreen {
    height: 100vh;

    svg {
      width: 80px;
      height: 80px;
      color: $loader-color;
    }
  }

  &.inline {
    margin-left: 8px;

    svg {
      width: 18px;
      height: 18px;
      color: $loader-color;
    }
  }
}
