@import "../../../styles/variables.scss";

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.topbar__info {
  display: flex;
  gap: 16px;
  align-items: center;
}

.topbar__title {
  font-size: 24px;
  font-weight: 700;
  color: black;
  letter-spacing: 1px;
}

.topbar__search {
  display: flex;
  gap: 16px;
  align-items: center;
}
