$desktop-width: 1440px;
$mobile-width: 375px;
$tablet-width: 576px;

// Colors
$main-color: #000;
$loader-color: #e1ff00;

$color-text: #333;
$color-muted: #999;
$color-bg: #fff;

$color-placeholder: $color-muted;
$color-clear: $color-muted;
$color-clear-hover: $color-text;
